/* Page.css */

/* Styles pour le composant Page */
.page-container {
    background-color: #fff;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  /* Ajoutez d'autres styles au besoin */
  